{% extends 'base.html' %}{% load static %}
{% block main %}

	<!-- Product section -->
	<section class="product-section">
		<div class="container">
			<div class="back-link">
				<a href="{% url 'home' %}"> &lt;&lt; Início</a>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic-zoom">
						<img class="product-big-img" src="{{ produto.image.url }}" alt="{{ produto.slug }}-0">
					</div>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<div class="product-thumbs-track">
                            <div class="pt active" data-imgbigurl="{{ produto.image.url }}"><img src="{{ produto.image.url }}" alt="{{ produto.slug }}-0"></div>
                            {% if imagens %}
                                {% for i in imagens %}
                                    <div class="pt" data-imgbigurl="{{ i.image.url }}"><img src="{{ i.image.url }}" alt="{{ produto.slug }}-{{ forloop.counter0 }}"></div>
                                {% endfor %}
                            {% endif %}
                        </div>
					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title">{{ produto.titulo }}</h2>
					<h3 class="p-price">R$ {{ produto.preco }}</h3>
					<h4 class="p-stock">Disponibilidade:
                        {% if produto.estoque %}
                            <span>Em Estoque</span></h4>
                        {% else %}
                            <span>Em Falta</span></h4>
                        {% endif %}
					<div class="p-rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o fa-fade"></i>
					</div>
					<div class="p-review">
						<a href="">3 reviews</a>|<a href="">Add your review</a>
					</div>
					<div class="quantity">
						<p>Quantity</p>
                        <div class="pro-qty"><input type="text" value="1"></div>
                    </div>
					<a href="#" class="site-btn">COMPRAR AGORA</a>

					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">descricao</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
                                    {% if produto.descricao %}
									    <p>{{ produto.descricao }}</p>
                                    {% endif %}
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">formas de pagamento </button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<img src="{% static '/img/cards.png' %}" alt="">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">envio & devolução</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
								</div>
							</div>
						</div>
					</div>

					<div class="social-sharing">
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product section end -->


	<!-- RELATED PRODUCTS section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title">
				<h2>PRODUTOS RELACIONADOS</h2>
			</div>
			<div class="product-slider owl-carousel">
                {% for p in produtos_relacionados %}
				    <div class="product-item">
					<div class="pi-pic">
						<a href="{% url 'product_detail' slug=p.slug pk=p.id %}"><img class="related-product-img" src="{{ p.image.url }}" alt="{{ p.slug }}-{{ forloop.counter0 }}"></a>
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADICIONAR AO CARRINHO</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>R${{ p.preco }}</h6>
						<p>{{ p.titulo }}</p>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!-- RELATED PRODUCTS section end -->

{% endblock %}
